<div class="container text-start" style="min-height: 80vh">
  <div class="row">
    <div class="col-md-8 align-center" style="margin-top: 30vh">
      <h1 class="text-danger text-start">
        A comprehensive platform for reliable
      </h1>
      <h2>job opportunities and internships.</h2>
      <p>Get Discovered. Get Hired.</p>
      <div>
        <a
          href="/jobs"
          class="btn btn-danger"
          tabindex="-1"
          role="button"
          aria-disabled="true"
          style="margin-right: 15px"
          >I'm A Job Seeker</a
        >
        <a
          href="/register"
          class="btn btn-danger"
          tabindex="-1"
          role="button"
          aria-disabled="true"
          >I'm A Recruiter</a
        >
      </div>
    </div>
    <div class="col" style="margin-top: 15vh">
      <img
        src="images/landing-page.png"
        class="img-fluid"
        alt="landing-page-image"
      />
    </div>
  </div>
</div>
